.about-us-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.6;
    font-family: Arial, sans-serif;
  }
  
  .about-us-container h1, h2 {
    color: #333;
    margin-bottom: 15px;
  }
  
  .about-us-container ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .about-us-container ul li {
    margin-bottom: 10px;
  }
  
  .about-us-container p {
    margin-bottom: 20px;
  }
  
  .feature-list {
    list-style: none;
    padding: 0;
  }
  
  .feature-item {
    display: grid;
    grid-template-columns: 240px auto; /* 第一列固定宽度 */
    margin-bottom: 0.8rem;
  }
  
  .feature-title {
    text-align: right;
    padding-right: 10px;
    position: relative;
  }
  
  .feature-title::after {
    content: ":";
    position: absolute;
    right: 5px;
  }
  
  .feature-desc {
    padding-left: 5px;
    text-align: left;
  }