.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.centered-table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.centered-table {
  margin: 0 auto;
}
.custom-button {
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.custom-button:hover {
  background: linear-gradient(135deg, #2575fc, #6a11cb);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.custom-button:active {
  transform: translateY(0);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.nav-link {
  margin-right: 15px;
  text-decoration: none;     /* 移除链接下划线 */
  color: #ffffff;            /* 链接文字颜色为白色 */
  font-weight: bold;         /* 字体加粗 */
  transition: color 0.3s ease; /* 过渡效果：颜色 */
}

.nav-link:hover {
  color: #ffa500;           /* 悬停时的文字颜色变化 */
}

.nav-link:last-child {
  margin-right: 0;          /* 最后一个链接不需要右边距 */
}

.no-bullets {
  list-style-type: none;
  padding: 0;
}
.no-bullets li {
  margin-bottom: 5px; /* 增加底部边距 */
  padding: 5px 0; /* 增加上下的 padding */
}

/* 适用于编辑器的内容区域 */
.toastui-editor-contents {
  text-align: left !important; /* 设置内容区域的文本为左对齐 */
}
/* 强制编辑器内容左对齐 */
.toastui-editor-contents,
.ProseMirror {
  text-align: left !important;   /* 确保内容居左对齐 */
}

/* 避免编辑器默认的居中行为 */
.toastui-editor {
  display: block;
  justify-content: flex-start !important;  /* 强制内容区域靠左 */
}


.centered-table {
  border-collapse: collapse; /* 去掉双重边框 */
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
}

.centered-table th, .centered-table td {
  border: 1px solid #ddd; /* 添加单线边框 */
  padding: 10px;
  text-align: center;
}

.centered-table th {
  background-color: #f2f2f2; /* 表头背景颜色 */
  color: #333;
}

.centered-table td input {
  width: 100%;
  padding: 5px;
  box-sizing: border-box; /* 使 padding 不影响 input 的大小 */
}

.matrix-instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.matrix-instructions-content {
  text-align: center;
  margin: 10px 0;
  padding: 15px;
  background-color: #f9f9f9; /* 提示信息的背景颜色 */
  border: 1px solid #ddd; 
  border-radius: 5px;
}
